/* Vertical line going UP from child node */
.org-chart li::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 2rem; /* Matches padding-top on li (pt-8 which is 2rem) */
  background-color: #6b7280; /* Tailwind gray-500 */
}

/* Horizontal line connecting all children */
.org-chart li::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #6b7280; /* Tailwind gray-500 */
}

/* Remove lines for the root node (first ul > li) */
.org-chart > li::before,
.org-chart > li::after {
  display: none;
}

/* Adjust horizontal line for first and last child to meet in the middle */
.org-chart li:first-child::after {
  left: 50%;
  width: 50%;
}

.org-chart li:last-child::after {
  width: 50%;
}

/* Hide horizontal line if it's the only child */
.org-chart li:only-child::after {
  display: none;
}